body {
  background-color: #efefef;
}

.ui-view {
  max-width: 360px;
  background-color: #ffffff;
  margin: auto;
}

.h100 {
  height: 100%;
}

.invisible {
  visibility: hidden;
}

.md-36 {
  font-size: 36px;
}